[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "getwiki"]
	path = getwiki
	url = https://github.com/cran/getwiki
	shallow = true
	registered = true
